*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}


.container {
    background-color: #fff;
    width: 600px;
    padding: 30px 25px;
    position: absolute;
    transform:  translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);

}

.buttons {
    
}

#converter {
    width: 350px;
    color: white;
}

